<div class="row">
  <div id="alerts" class="alert alert-error" style="display:none;"></div>
  <div id="queue" class="alert alert-info" style="display:none;">
    <strong><a href="#" id="load-tweets"></a></strong>
  </div>

  <div id="twitter-output" class="span6"></div>
  <div id="twitter-sidebar" class="span6"></div>
</div>



<script src="/js/app/index.js"></script>

<!--
<script type="text/javascript" src="/dnode.js"></script>
<script src="/js/app/Tweetifies.js"></script>
<script src="/js/app/Tweet.js"></script>
-->

<script type="text/javascript">
  $(function() {
    Tweetifies.init();
  });
</script>


<div class="modal fade" id="loading-modal" style="display: none;">
  <div class="modal-header">
    <h3>Tweetifies Loading</h3>
  </div>
  <div class="modal-body">
    <p>Currently loading initial tweets and initialising application</p>
  </div>
  <div class="modal-footer"></div>
</div>

<div class="modal fade" id="mentions-modal" style="display: none;">
  <div class="modal-header">
    <h3>Mentions</h3>
  </div>
  <div class="modal-body">
    <p>Loading Mentions</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="load-more">Load More</a>
  </div>
</div>

<div class="modal fade" id="user-modal" style="display: none;">
  <div class="modal-header">
    <h3>User</h3>
  </div>
  <div class="modal-body">
    <p>Loading Timeline</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary" id="load-more">Load More</a>
  </div>
</div>