<div class="row">
  <div class="span 12">
    <div id="alerts">

    </div>

    <% if (show_login) { %>
      <a href="/login/twitter"><i class="icon-fire"></i>&nbsp;Login Via Twitter</a>
    <% } else { %>
      <h2>Your Twitter Feed</h2>
      <div class="span6 row">
        <form id="twitter-input">
          <fieldset>
            <div class="control-group">
              <div class="controls">
                <textarea class="input-xlarge" id="tweet-text" rows="3" style="width: 100%;" placeholder="What do you want to say?"></textarea>
              </div>
              <div class="controls pull-left">
                Geocode
                <div id="geocode" class="btn-group" data-toggle="buttons-radio">
                  <a class="btn off">Off</a>
                  <a class="btn on">On</a>
                </div>
              </div>
              <div class="controls pull-left">
                <br />
                <a class="btn" data-toggle="button">Upload Image</a>
              </div>
              <div class="controls pull-right">
                <br />
                <a class="btn">Tweet</a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="row">
        <div id="twitter-output" class="span5">

        </div>
        <div id="twitter-search-output" class="span5">

        </div>
      </div>
    <% } %>
  </div>
</div>