<html>
<head>
  <title>Tweetifies</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />

  <link rel="stylesheet" type="text/css" href="/css/app.css" />

  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/backbone.js"></script>
  <script type="text/javascript" src="/js/backbone.marionette.js"></script>

  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/bootstrap.modal.js"></script>
  <script type="text/javascript" src="/js/bootstrap-button.js"></script>
  <script type="text/javascript" src="/js/moment.js"></script>

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBuOCQDegoQ7ich3-0MbOEAg7x8FMGVZ-4&sensor=false"></script>

  <script type="text/javascript" src="/dnode.js"></script>

  <script src="/js/app/Tweetifies.js"></script>

</head>
<body>
  <div class="container">
    <%- partial('navbar', session) %>

    <%- body %>
  </div>

  <script type="text/javascript">
    Tweetifies.init();
  </script>
</body>
</html>